[run]
source = .
omit =
  */coverage*
  */htmlcov/*
  ./backend/*
  ./uniphoto/test/*
  ./manage.py
  */migrations/*

branch = true

[report]
exclude_lines = 
  def __str__
  def get_queryset
    
show_missing = True
